<mat-toolbar>
    <mat-toolbar-row> 
        <div class="row between-xs middle-xs header-row">
        <div class="container__logo">
        <img src=".././assets/img/molecula.png" alt="logo" class="logo-header"> 
        <h1>ShopyVentas</h1>
         </div>
        
            <nav>
                <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
                <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
                <a mat-button routerLink="/contac" routerLinkActive="active">Contact</a>
                
            </nav>
                <a mat-raised-button matBadge="4" matBadgeColor="warn">
                    <mat-icon>shopping_cart</mat-icon>
                    Carrito
                </a>
        </div>  
   
    </mat-toolbar-row>

</mat-toolbar>

<!-- 
<nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/products" routerLinkActive="active">Products</a>
    <a routerLink="/contac" routerLinkActive="active">Contact</a>
    
</nav>
 -->